
*{
    margin: 0%;
    padding: 0;
}
header{
    /* background-color: aquamarine; */
    width: 100%;
}
/* 

li{
    display: inline-block;
}
 */

/* .nav_bar_text{
    color: white;
     margin-right: 20em; */

/* } */

.nav_bar{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    color: white;
    align-content: center;

}
.LOGIN{
    color: green;
    /* width: 10px; */
    padding: 2px;

}

.nav_bar li {
   display: inline-block;
   margin: 1em;

}
.nav_bar button{
    background-color: white;
    box-sizing: border-box;
    border-color: transparent;
 
}

nav_bar_text2 button{
    background-color: white;
    width: 100px;
    padding: 10px;
}
.nav_bar_text2{
    font-size: 20px;
    margin-top: 3em;
    
}
.text{
    margin-left: 10%;
    margin-top:5%;
    font-size: 135%;
}
img{
   margin-left:55%;
   margin-top:-20em;
   height:20em;
   width:30em;
}
.save{
    color: green;
    background-color: white;
    padding:0.7%;
}
.color-scheme{
    background: linear-gradient(#44f086, #ccd4cf);
}
.mid-content{
    margin-top: 25%;
}
.image2{
    margin-left: 6%;
}
.mid-text{
    margin-left: 45%;
    margin-top:-15em ;
}

.Our_Services{
  
}

.Our_Services p{
    
}